@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-primary {
        color: hsl(46, 56%, 64%);
    }

    .border-color-primary {
        border-color: hsl(46, 56%, 64%);
    }

    .bg-primary {
        background-color: hsl(46, 56%, 64%);
    }

    @variants hover {
        .text-primary {
            color: hsl(46, 56%, 64%);
        }

        .border-color-primary {
            border-color: hsl(46, 56%, 64%);
        }

        .bg-primary {
            background-color: hsl(46, 56%, 64%);
        }
    }
}
